@import url("https://fonts.googleapis.com/css2?family=MonteCarlo&display=swap");
* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}
body {
  background: url(https://koreanliteraturenow.com/sites/default/files/styles/thumbnail_1078x516/public/feature/%EA%B8%B0%ED%83%80_%EC%A7%80%ED%98%9C%EC%9D%98%EC%88%B22.jpg?itok=ixt7uoWt);
  background-repeat: no-repeat;
  background-size: cover;
  font-family: "sans-serif";
}
.nav-link,
.dropdown-item {
  font-size: 1em;
  letter-spacing: 1px;
  text-transform: uppercase;
}
.nav-link:hover{
  color: yellow !important;
}
.dropdown-item{
  color: #f1f1f1 !important;
}
.dropdown-item:hover {
  background: black !important;
  color: yellow !important;
}
#title{
    font-family: MonteCarlo;
}
#myNavbar{
  width: 100%;
  justify-content: space-between;
}

#search{
  width: 40%;
  margin: auto;
}
.para{
  color: wheat;
  width: 90%;
  margin: auto;
}
#leave{
  list-style: none;
  text-decoration: none;
  margin-left: 500%;
  margin-top: 5%;
}
#pic{
  margin-top: 2%;
}
#welcome{
  background: gray;
  margin-top: 15%;
  width: 100%;
  height: 40vh;
  
}
.welcome{
  text-align: center;
  color: rgb(44, 13, 73);
}


